<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title><%= content_for?(:title) ? yield(:title) + " | いぐったー(α)" : "いぐったー(α)" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

    <body>
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar">
          <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </section>
          <section class="middle tab-bar-section"> 
            <h1 class="title">
              いぐったー(α)
            </h1> 
          </section> 
        </nav>
        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label>MENU</label></li>
            <% if user_signed_in? %>
            <li>
              <%= link_to 'タイムライン', timeline_path %>
            </li>
            <li>
              <%= link_to '@ツイート', mentions_timeline_path %>
            </li>
            <li>
              <%= link_to 'フォロー', friends_path %>
            </li>
            <li>
              <%= link_to 'フォロワー', followers_path %>
            </li>
            <li>
              <%= link_to 'ログアウト', sign_out_path %>
            </li>
            <% else %>
            <li>
              <%= link_to 'ログイン', '/auth/twitter' %>
            </li>
            <% end %>
          </ul>
        </aside>
        <section class="main-section">
          <% if notice %>
          <div data-alert class="alert-box info">
            <%= notice %>
            <a href="#" class="close">&times;</a>
          </div>
          <% end %>

          <% if alert %>
          <div data-alert class="alert-box warning">
            <%= alert %>
            <a href="#" class="close">&times;</a>
          </div>
          <% end %>

          <%= yield %>

          <%= javascript_include_tag "application" %>
        </section>
        <a class="exit-off-canvas"></a>
      </div>
    </div>
  </body>
</html>